{% extends 'Base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in Movies_list %}
        <div class="col-md-4">
    <div class="card" style="width: 250 px;" >
  <img class="card-img-top" src={{i.img.url}} alt="Card image cap" width="700 px" height="300 px">
  <div class="card-body">
    <h5 class="card-title">{{i.Name}}</h5>
    <p class="card-text"> {{i.Des}}</p>
    <a href="{% url 'movieapp:details' i.id %}" class="btn btn-primary">Show More</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}